{
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/standard",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/prop-types": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
